<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1184712445-ep22g7o13i394ff6rovb4l7dg8tnpkqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1184712445-ep22g7o13i394ff6rovb4l7dg8tnpkqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCWKBweIC5e0R3rlyFPcuFHAiIAt7i-VPo</string>
	<key>GCM_SENDER_ID</key>
	<string>1184712445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reddot.smart-to-do</string>
	<key>PROJECT_ID</key>
	<string>smart-to-do-7ab99</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-to-do-7ab99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1184712445:ios:78fa754547d226c9f4e094</string>
</dict>
</plist>